<!DOCTYPE html>
<html>
    <head>
        <title>Benutzer Anzeigen</title>
    
    </head>
    <body>
        <h1>Neuer Benutzer:</h1>
        <p>
            <%= benutzername%> <%= passwort%>
            



        </p>
</body>

</html>