<!DOCTYPE html>
<html>
    <head>
        <title>Erfolgreicher Login</title>
    
    </head>
    <body>
        <h1>Login war erfolgreich!</h1>
        <p>
            Der Login war erfolgreich: <%= benutzername%>.


            <a href="/anmelden">Rückleitung zur Anmeldung</a>
            



        </p>
</body>

</html>