<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierungsformular | Marcus erste Seite</title>
  </head>
  <body style="background-color:powderblue ;">
    <!-- Sichtbarer Dokumentinhalt im body -->
    <p>Sehen Sie sich den Quellcode dieser Seite an.
      <kbd>(Kontextmenu: Seitenquelltext anzeigen)</kbd></p>
    <h2>Registrierung</h2>

    <form action="/hinzufuegen" method="POST">
        <label for="fname">Benutzername:</label><br>
        <input type="text" id="fname" name="benutzer" value="John"><br>
        <label for="lname">Passwort:</label><br>
        <input type="text" id="lname" name="password" value="Doe"><br><br>
        <input type="submit" value="Submit">
      </form> 
      
      <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
      
  
  </body>
</html>